# Obligatorio 2 - Big Data Science

Integrantes del grupo: [completar aquí los nombres de los integrantes]

Debajo de cada pregunta o tarea incluya las celdas necesarias para desarrolar la respuesta. Puede usar una o varias celdas de código o mark down (https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook)

Para entregar, renombrar este notebook como "Obligatorio 2 - Apellido1 - Apellido 2 - Apellido 3" con los apellidos de los miembros del grupo. Un solo integrante del grupo debe realizar la entrega.

1. Cargar los datos del Obligatorio 1, de entrenamiento (.data) y validación (.test) en spark dataframes (distintos). Los nombres de las columnas deben corresponder a los especificados en "Attribute Information".

In [1]:
from pyspark.context import SparkContext
sc = SparkContext('local', 'test')

In [2]:
sc

In [3]:
from pyspark.sql import SQLContext

spark = SQLContext(sc)

In [4]:
spark

In [5]:
from pyspark.sql.types import *

# Schema de los dataset
schema = StructType([
    StructField(name='age', dataType=IntegerType(), nullable=False),
    StructField(name='workclass', dataType=StringType(), nullable=False),
    StructField(name='fnlwgt', dataType=StringType(), nullable=False), # Se pone en tipo string porque al ponerlo en tipo Integer o Long carga la columna con valores null
    StructField(name='education', dataType=StringType(), nullable=False),
    StructField(name='education_num', dataType=StringType(), nullable=False), # Mismo problema que en la columna 'fnlwgt'
    StructField(name='marital-status', dataType=StringType(), nullable=False),
    StructField(name='occupation', dataType=StringType(), nullable=False),
    StructField(name='relationship', dataType=StringType(), nullable=False),
    StructField(name='race', dataType=StringType(), nullable=False),
    StructField(name='sex', dataType=StringType(), nullable=False),
    StructField(name='capital_gain', dataType=StringType(), nullable=False), # Mismo problema que en la columna 'fnlwgt'
    StructField(name='capital_loss', dataType=StringType(), nullable=False), # Mismo problema que en la columna 'fnlwgt'
    StructField(name='hours_per_week', dataType=StringType(), nullable=False), # Mismo problema que en la columna 'fnlwgt'
    StructField(name='native_country', dataType=StringType(), nullable=False),
    StructField(name='income', dataType=StringType(), nullable=False)
])

In [6]:
df_adult = spark.read.csv("adult.data", header=True, schema=schema)
df_test = spark.read.csv("adult.test", header=True, schema=schema)

In [7]:
df_adult.show(10)

+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|age|        workclass| fnlwgt|    education|education_num|      marital-status|        occupation|  relationship|  race|    sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
| 50| Self-emp-not-inc|  83311|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private| 215646|      HS-grad|            9|            Divorced| Handlers-cleaners| Not-in-family| White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private| 234721|         11th|            7|  Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private| 338409|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|           0|           0|            40|          Cuba| <=50K|
| 37|          Private| 284582|      Masters|           14|  Married-civ-spouse|   Exec-managerial|          Wife| White| Female|           0|           0|            40| United-States| <=50K|
| 49|          Private| 160187|          9th|            5| Married-spouse-a...|     Other-service| Not-in-family| Black| Female|           0|           0|            16|       Jamaica| <=50K|
| 52| Self-emp-not-inc| 209642|      HS-grad|            9|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            45| United-States|  >50K|
| 31|          Private|  45781|      Masters|           14|       Never-married|    Prof-specialty| Not-in-family| White| Female|       14084|           0|            50| United-States|  >50K|
| 42|          Private| 159449|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|        5178|           0|            40| United-States|  >50K|
| 37|          Private| 280464| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband| Black|   Male|           0|           0|            80| United-States|  >50K|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 10 rows

In [8]:
df_test.show(10)

+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------+
|age|        workclass| fnlwgt|    education|education_num|     marital-status|        occupation|  relationship|  race|    sex|capital_gain|capital_loss|hours_per_week|native_country| income|
+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------+
| 25|          Private| 226802|         11th|            7|      Never-married| Machine-op-inspct|     Own-child| Black|   Male|           0|           0|            40| United-States| <=50K.|
| 38|          Private|  89814|      HS-grad|            9| Married-civ-spouse|   Farming-fishing|       Husband| White|   Male|           0|           0|            50| United-States| <=50K.|
| 28|        Local-gov| 336951|   Assoc-acdm|           12| Married-civ-spouse|   Protective-serv|       Husband| White|   Male|           0|           0|            40| United-States|  >50K.|
| 44|          Private| 160323| Some-college|           10| Married-civ-spouse| Machine-op-inspct|       Husband| Black|   Male|        7688|           0|            40| United-States|  >50K.|
| 18|                ?| 103497| Some-college|           10|      Never-married|                 ?|     Own-child| White| Female|           0|           0|            30| United-States| <=50K.|
| 34|          Private| 198693|         10th|            6|      Never-married|     Other-service| Not-in-family| White|   Male|           0|           0|            30| United-States| <=50K.|
| 29|                ?| 227026|      HS-grad|            9|      Never-married|                 ?|     Unmarried| Black|   Male|           0|           0|            40| United-States| <=50K.|
| 63| Self-emp-not-inc| 104626|  Prof-school|           15| Married-civ-spouse|    Prof-specialty|       Husband| White|   Male|        3103|           0|            32| United-States|  >50K.|
| 24|          Private| 369667| Some-college|           10|      Never-married|     Other-service|     Unmarried| White| Female|           0|           0|            40| United-States| <=50K.|
| 55|          Private| 104996|      7th-8th|            4| Married-civ-spouse|      Craft-repair|       Husband| White|   Male|           0|           0|            10| United-States| <=50K.|
+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------+
only showing top 10 rows

2. Seleccionar un conjunto relevante de 5 atributos y crear un Spark Pipeline en el que el estimator sea un DecisionTreeClassifier (https://spark.apache.org/docs/latest/ml-classification-regression.html#decision-tree-classifier). Puede utilizar libremente los transformers/estimators de Spark para realizar ingeniería de atributos (StringIndexer, OneHotEncoding, etc).

In [17]:
atributos = ["age", "sex", "occupation", "education", "workclass"]

#Primero hay que bucketizar la edad. La separamos en 3 buckets. 

def calculo_de_buckets(df, cantidad_buckets, columna):
    df.createOrReplaceTempView("df_view")
    instancias_totales = spark.sql('''SELECT count(*) as count FROM df_view''').first()['count']
    instancias_en_bucket = instancias_totales / cantidad_buckets
    
    limites = []
    ultimo_limite_superior = None
    for limit in range(0, instancias_totales - 1, round(instancias_en_bucket)): # se pone un -1 porque instancias totales es el count pero queremos llegar hasta el indice        
        query = spark.sql(f'''SELECT {columna} FROM df_view ORDER BY 1 asc''').collect()
        limite_inferior = query[limit][columna]
        
        if(ultimo_limite_superior is not None):
            if ultimo_limite_superior == limite_inferior:
                limite_inferior += 1;
        
        limite = [limite_inferior, query[limit + round(instancias_en_bucket)][columna]]
        limites.append(limite)
        
        ultimo_limite_superior = query[limit + round(instancias_en_bucket)][columna]

    return limites

limites = calculo_de_buckets(df_adult, 3, "age")

In [15]:
from pyspark.sql import functions as F

def age_bucket_udf(age):
    indexes = range(len(limites))
    for index, limite in zip(indexes, limites):
        if age in range(limite[0], limite[1] + 1):    #Se agrega el +1 para hacer el range inclusivo superiormente
            return index

age_udf = F.udf(age_bucket_udf, IntegerType())

df_adult_bucketized = df_adult.withColumn("ageLabel", age_udf(F.col("age")))
df_adult_bucketized.show()

+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+----------+
|age|        workclass| fnlwgt|    education|education_num|      marital-status|        occupation|  relationship|               race|    sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_bucket|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+----------+
| 50| Self-emp-not-inc|  83311|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|         2|
| 38|          Private| 215646|      HS-grad|            9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|         1|
| 53|          Private| 234721|         11th|            7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|         2|
| 28|          Private| 338409|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|         0|
| 37|          Private| 284582|      Masters|           14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|         1|
| 49|          Private| 160187|          9th|            5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|         2|
| 52| Self-emp-not-inc| 209642|      HS-grad|            9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|         2|
| 31|          Private|  45781|      Masters|           14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|         0|
| 42|          Private| 159449|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|         1|
| 37|          Private| 280464| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|         1|
| 30|        State-gov| 141297|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|         0|
| 23|          Private| 122272|    Bachelors|           13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|         0|
| 32|          Private| 205019|   Assoc-acdm|           12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|         1|
| 40|          Private| 121772|    Assoc-voc|           11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|         1|
| 34|          Private| 245487|      7th-8th|            4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|         1|
| 25| Self-emp-not-inc| 176756|      HS-grad|            9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|         0|
| 32|          Private| 186824|      HS-grad|            9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|         1|
| 38|          Private|  28887|         11th|            7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|         1|
| 43| Self-emp-not-inc| 292175|      Masters|           14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|         1|
| 40|          Private| 193524|    Doctorate|           16|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|           0|           0|            60| United-States|  >50K|         1|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+----------+
only showing top 20 rows

In [118]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer, VectorAssembler

In [165]:
def get_indexers(columnas):
    
    list_indexer = []
    
    for columna in columnas:
        list_indexer.append(StringIndexer(inputCol=columna, outputCol=columna+"Label"))
    
    return list_indexer

In [186]:
cols = ["sex", "occupation", "education", "workclass"]
features_col = 'income'

labels_cols = []
for col in cols:
    labels_cols.append(col+"Label")

indexersLabels = get_indexers(cols)

featureIndexer = VectorIndexer().setInputCol(features_col).setOutputCol(features_col+"Feature")

assembler = VectorAssembler(
    inputCols=labels_cols,
    outputCol="features")

In [187]:
data = indexerFeatures.fit(df_adult).transform(df_adult)
data.show(10)

+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------+
|age|        workclass| fnlwgt|    education|education_num|      marital-status|        occupation|  relationship|  race|    sex|capital_gain|capital_loss|hours_per_week|native_country|income|incomeFeatures|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------+
| 50| Self-emp-not-inc|  83311|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            13| United-States| <=50K|           0.0|
| 38|          Private| 215646|      HS-grad|            9|            Divorced| Handlers-cleaners| Not-in-family| White|   Male|           0|           0|            40| United-States| <=50K|           0.0|
| 53|          Private| 234721|         11th|            7|  Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|           0|           0|            40| United-States| <=50K|           0.0|
| 28|          Private| 338409|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|           0|           0|            40|          Cuba| <=50K|           0.0|
| 37|          Private| 284582|      Masters|           14|  Married-civ-spouse|   Exec-managerial|          Wife| White| Female|           0|           0|            40| United-States| <=50K|           0.0|
| 49|          Private| 160187|          9th|            5| Married-spouse-a...|     Other-service| Not-in-family| Black| Female|           0|           0|            16|       Jamaica| <=50K|           0.0|
| 52| Self-emp-not-inc| 209642|      HS-grad|            9|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            45| United-States|  >50K|           1.0|
| 31|          Private|  45781|      Masters|           14|       Never-married|    Prof-specialty| Not-in-family| White| Female|       14084|           0|            50| United-States|  >50K|           1.0|
| 42|          Private| 159449|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|        5178|           0|            40| United-States|  >50K|           1.0|
| 37|          Private| 280464| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband| Black|   Male|           0|           0|            80| United-States|  >50K|           1.0|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------+
only showing top 10 rows

In [188]:
# Train a DecisionTree model.
dt = DecisionTreeClassifier(labelCol="features", featuresCol=features_col+"Features")

In [192]:
# Chain indexers and tree in a Pipeline
pipeline = Pipeline(stages=indexersLabels + [featureIndexer] + [dt])

3. Hacer el fit del pipeline con los datos de entrenamiento.

In [193]:
trainingData = df_adult_bucketized
testData = df_test

In [194]:
# Train model.  This also runs the indexers.
model = pipeline.fit(trainingData)

IllegalArgumentException: requirement failed: Column income must be of type class org.apache.spark.ml.linalg.VectorUDT:struct<type:tinyint,size:int,indices:array<int>,values:array<double>> but was actually class org.apache.spark.sql.types.StringType$:string.

In [172]:
# Make predictions.
predictions = model.transform(testData)

In [173]:
predictions.show(100)

+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+-------------------+-------+--------+---------------+--------------+--------------+-------------------+-------------+-----------+----------+
|age|        workclass| fnlwgt|    education|education_num|      marital-status|        occupation|  relationship|               race|    sex|capital_gain|capital_loss|hours_per_week|     native_country| income|sexLabel|occupationLabel|educationLabel|workclassLabel|     incomeFeatures|rawPrediction|probability|prediction|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+-------------------+-------+--------+---------------+--------------+--------------+-------------------+-------------+-----------+----------+
| 25|          Private| 226802|         11th|            7|       Never-married| Machine-op-inspct|     Own-child|              Black|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            6.0|           5.0|           0.0|  [0.0,6.0,5.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 38|          Private|  89814|      HS-grad|            9|  Married-civ-spouse|   Farming-fishing|       Husband|              White|   Male|           0|           0|            50|      United-States| <=50K.|     0.0|           10.0|           0.0|           0.0|     (4,[1],[10.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 28|        Local-gov| 336951|   Assoc-acdm|           12|  Married-civ-spouse|   Protective-serv|       Husband|              White|   Male|           0|           0|            40|      United-States|  >50K.|     0.0|           12.0|           6.0|           2.0| [0.0,12.0,6.0,2.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 44|          Private| 160323| Some-college|           10|  Married-civ-spouse| Machine-op-inspct|       Husband|              Black|   Male|        7688|           0|            40|      United-States|  >50K.|     0.0|            6.0|           1.0|           0.0|  [0.0,6.0,1.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 18|                ?| 103497| Some-college|           10|       Never-married|                 ?|     Own-child|              White| Female|           0|           0|            30|      United-States| <=50K.|     1.0|            7.0|           1.0|           3.0|  [1.0,7.0,1.0,3.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 34|          Private| 198693|         10th|            6|       Never-married|     Other-service| Not-in-family|              White|   Male|           0|           0|            30|      United-States| <=50K.|     0.0|            5.0|           7.0|           0.0|  [0.0,5.0,7.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 29|                ?| 227026|      HS-grad|            9|       Never-married|                 ?|     Unmarried|              Black|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            7.0|           0.0|           3.0|  [0.0,7.0,0.0,3.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 63| Self-emp-not-inc| 104626|  Prof-school|           15|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|        3103|           0|            32|      United-States|  >50K.|     0.0|            0.0|           9.0|           1.0|  [0.0,0.0,9.0,1.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 24|          Private| 369667| Some-college|           10|       Never-married|     Other-service|     Unmarried|              White| Female|           0|           0|            40|      United-States| <=50K.|     1.0|            5.0|           1.0|           0.0|  [1.0,5.0,1.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 55|          Private| 104996|      7th-8th|            4|  Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|           0|           0|            10|      United-States| <=50K.|     0.0|            1.0|           8.0|           0.0|  [0.0,1.0,8.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 65|          Private| 184454|      HS-grad|            9|  Married-civ-spouse| Machine-op-inspct|       Husband|              White|   Male|        6418|           0|            40|      United-States|  >50K.|     0.0|            6.0|           0.0|           0.0|      (4,[1],[6.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 36|      Federal-gov| 212465|    Bachelors|           13|  Married-civ-spouse|      Adm-clerical|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            3.0|           2.0|           6.0|  [0.0,3.0,2.0,6.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 26|          Private|  82091|      HS-grad|            9|       Never-married|      Adm-clerical| Not-in-family|              White| Female|           0|           0|            39|      United-States| <=50K.|     1.0|            3.0|           0.0|           0.0|  [1.0,3.0,0.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 58|                ?| 299831|      HS-grad|            9|  Married-civ-spouse|                 ?|       Husband|              White|   Male|           0|           0|            35|      United-States| <=50K.|     0.0|            7.0|           0.0|           3.0|  [0.0,7.0,0.0,3.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 48|          Private| 279724|      HS-grad|            9|  Married-civ-spouse| Machine-op-inspct|       Husband|              White|   Male|        3103|           0|            48|      United-States|  >50K.|     0.0|            6.0|           0.0|           0.0|      (4,[1],[6.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 43|          Private| 346189|      Masters|           14|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            50|      United-States|  >50K.|     0.0|            2.0|           3.0|           0.0|  [0.0,2.0,3.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 20|        State-gov| 444554| Some-college|           10|       Never-married|     Other-service|     Own-child|              White|   Male|           0|           0|            25|      United-States| <=50K.|     0.0|            5.0|           1.0|           4.0|  [0.0,5.0,1.0,4.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 43|          Private| 128354|      HS-grad|            9|  Married-civ-spouse|      Adm-clerical|          Wife|              White| Female|           0|           0|            30|      United-States| <=50K.|     1.0|            3.0|           0.0|           0.0|  [1.0,3.0,0.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 37|          Private|  60548|      HS-grad|            9|             Widowed| Machine-op-inspct|     Unmarried|              White| Female|           0|           0|            20|      United-States| <=50K.|     1.0|            6.0|           0.0|           0.0|  [1.0,6.0,0.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 40|          Private|  85019|    Doctorate|           16|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            45|                  ?|  >50K.|     0.0|            0.0|          12.0|           0.0|     (4,[2],[12.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 34|          Private| 107914|    Bachelors|           13|  Married-civ-spouse|      Tech-support|       Husband|              White|   Male|           0|           0|            47|      United-States|  >50K.|     0.0|           11.0|           2.0|           0.0| [0.0,11.0,2.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 34|          Private| 238588| Some-college|           10|       Never-married|     Other-service|     Own-child|              Black| Female|           0|           0|            35|      United-States| <=50K.|     1.0|            5.0|           1.0|           0.0|  [1.0,5.0,1.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 72|                ?| 132015|      7th-8th|            4|            Divorced|                 ?| Not-in-family|              White| Female|           0|           0|             6|      United-States| <=50K.|     1.0|            7.0|           8.0|           3.0|  [1.0,7.0,8.0,3.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 25|          Private| 220931|    Bachelors|           13|       Never-married|    Prof-specialty| Not-in-family|              White|   Male|           0|           0|            43|               Peru| <=50K.|     0.0|            0.0|           2.0|           0.0|      (4,[2],[2.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 25|          Private| 205947|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            0.0|           2.0|           0.0|      (4,[2],[2.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 45| Self-emp-not-inc| 432824|      HS-grad|            9|  Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|        7298|           0|            90|      United-States|  >50K.|     0.0|            1.0|           0.0|           1.0|  [0.0,1.0,0.0,1.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 22|          Private| 236427|      HS-grad|            9|       Never-married|      Adm-clerical|     Own-child|              White|   Male|           0|           0|            20|      United-States| <=50K.|     0.0|            3.0|           0.0|           0.0|      (4,[1],[3.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 23|          Private| 134446|      HS-grad|            9|           Separated| Machine-op-inspct|     Unmarried|              Black|   Male|           0|           0|            54|      United-States| <=50K.|     0.0|            6.0|           0.0|           0.0|      (4,[1],[6.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 54|          Private|  99516|      HS-grad|            9|  Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|           0|           0|            35|      United-States| <=50K.|     0.0|            1.0|           0.0|           0.0|      (4,[1],[1.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 32| Self-emp-not-inc| 109282| Some-college|           10|       Never-married|    Prof-specialty| Not-in-family|              White|   Male|           0|           0|            60|      United-States| <=50K.|     0.0|            0.0|           1.0|           1.0|  [0.0,0.0,1.0,1.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 46|        State-gov| 106444| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|        7688|           0|            38|      United-States|  >50K.|     0.0|            2.0|           1.0|           4.0|  [0.0,2.0,1.0,4.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 56| Self-emp-not-inc| 186651|         11th|            7|             Widowed|     Other-service|     Unmarried|              White| Female|           0|           0|            50|      United-States| <=50K.|     1.0|            5.0|           5.0|           1.0|  [1.0,5.0,5.0,1.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 24| Self-emp-not-inc| 188274|    Bachelors|           13|       Never-married|             Sales| Not-in-family|              White|   Male|           0|           0|            50|      United-States| <=50K.|     0.0|            4.0|           2.0|           1.0|  [0.0,4.0,2.0,1.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 23|        Local-gov| 258120| Some-college|           10|  Married-civ-spouse|   Protective-serv|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|           12.0|           1.0|           2.0| [0.0,12.0,1.0,2.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 26|          Private|  43311|      HS-grad|            9|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            40|      United-States| <=50K.|     1.0|            2.0|           0.0|           0.0|  [1.0,2.0,0.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 65|                ?| 191846|      HS-grad|            9|  Married-civ-spouse|                 ?|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            7.0|           0.0|           3.0|  [0.0,7.0,0.0,3.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 36|        Local-gov| 403681|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|           0|           0|            40|      United-States|  >50K.|     0.0|            0.0|           2.0|           2.0|  [0.0,0.0,2.0,2.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 22|          Private| 248446|      5th-6th|            3|       Never-married|   Priv-house-serv| Not-in-family|              White|   Male|           0|           0|            50|          Guatemala| <=50K.|     0.0|           13.0|          13.0|           0.0|[0.0,13.0,13.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 17|          Private| 269430|         10th|            6|       Never-married| Machine-op-inspct| Not-in-family|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            6.0|           7.0|           0.0|  [0.0,6.0,7.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 20|          Private| 257509|      HS-grad|            9|       Never-married|      Craft-repair|     Own-child|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            1.0|           0.0|           0.0|      (4,[1],[1.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 65|          Private| 136384|      Masters|           14|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|           0|           0|            50|      United-States|  >50K.|     0.0|            0.0|           3.0|           0.0|      (4,[2],[3.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 44|     Self-emp-inc| 120277|    Assoc-voc|           11|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            45|      United-States|  >50K.|     0.0|            4.0|           4.0|           5.0|  [0.0,4.0,4.0,5.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 36|          Private| 465326|      HS-grad|            9|  Married-civ-spouse|   Farming-fishing|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|           10.0|           0.0|           0.0|     (4,[1],[10.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 29|          Private| 103634|         11th|            7|  Married-civ-spouse|     Other-service|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            5.0|           5.0|           0.0|  [0.0,5.0,5.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 20|        State-gov| 138371| Some-college|           10|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            32|      United-States| <=50K.|     0.0|           10.0|           1.0|           4.0| [0.0,10.0,1.0,4.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 28|          Private| 242832|    Assoc-voc|           11|  Married-civ-spouse|    Prof-specialty|          Wife|              White| Female|           0|           0|            36|      United-States|  >50K.|     1.0|            0.0|           4.0|           0.0|  [1.0,0.0,4.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 39|          Private| 290208|      7th-8th|            4|  Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|           0|           0|            40|             Mexico| <=50K.|     0.0|            1.0|           8.0|           0.0|  [0.0,1.0,8.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 54|          Private| 186272| Some-college|           10|  Married-civ-spouse|  Transport-moving|       Husband|              White|   Male|        3908|           0|            50|      United-States| <=50K.|     0.0|            8.0|           1.0|           0.0|  [0.0,8.0,1.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 52|          Private| 201062|         11th|            7|           Separated|   Priv-house-serv| Not-in-family|              Black| Female|           0|           0|            18|      United-States| <=50K.|     1.0|           13.0|           5.0|           0.0| [1.0,13.0,5.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 56|     Self-emp-inc| 131916|      HS-grad|            9|             Widowed|   Exec-managerial| Not-in-family|              White| Female|           0|           0|            50|      United-States| <=50K.|     1.0|            2.0|           0.0|           5.0|  [1.0,2.0,0.0,5.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 18|          Private|  54440| Some-college|           10|       Never-married|     Other-service|     Own-child|              White|   Male|           0|           0|            20|      United-States| <=50K.|     0.0|            5.0|           1.0|           0.0|  [0.0,5.0,1.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 39|          Private| 280215|      HS-grad|            9|            Divorced| Handlers-cleaners|     Own-child|              Black|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            9.0|           0.0|           0.0|      (4,[1],[9.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 21|          Private| 214399| Some-college|           10|       Never-married|     Other-service|     Own-child|              White| Female|           0|        1721|            24|      United-States| <=50K.|     1.0|            5.0|           1.0|           0.0|  [1.0,5.0,1.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 22|          Private|  54164|      HS-grad|            9|       Never-married|     Other-service| Not-in-family|              White|   Male|       14084|           0|            60|      United-States|  >50K.|     0.0|            5.0|           0.0|           0.0|      (4,[1],[5.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 38|          Private| 219446|          9th|            5| Married-spouse-a...|   Exec-managerial| Not-in-family|              White|   Male|           0|           0|            54|             Mexico| <=50K.|     0.0|            2.0|          10.0|           0.0| [0.0,2.0,10.0,0.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 21|          Private| 110677| Some-college|           10|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            40|      United-States| <=50K.|     1.0|            3.0|           1.0|           0.0|  [1.0,3.0,1.0,0.0]|[0.0,10771.0]|  [0.0,1.0]|       1.0|
| 63|          Private| 145985|      HS-grad|            9|  Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|           0|           0|            40|      United-States| <=50K.|     0.0|            1.0|           0.0|           0.0|      (4,[1],[1.0])|[21789.0,0.0]|  [1.0,0.0]|       0.0|
| 34|        Local-gov| 382078|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        3103|           0|            50|      United-States|  >50K.|     0.0|            2.0|           2.0|           2.0|  [0.0,2.0,2.0,2.0]|[21789.0,0.0]|  [1.0,0.0]|       0.0|

In [ ]:
#

4. Graficar la curva ROC utilizando los datos de validación (sin usar el paquete de evluación de Spark pyspark.ml.evaluation)

In [6]:
#

5. Escribir dos funciones train() y predict() que creen el arbol de acuerdo a la metodología vista en clase (utilizando entropía como métrica de homogeneidad de clases).
```
def train(train_dataframe):
    '''
    @return devuelve una estructura de datos que representa el árbol de decision
    '''
     pass        
```

```
def predict(tree, train_dataframe)
    '''
    @param tree la estructura de datos que representa el árbol de decisión.
    @ return un dataframe con todos los datos de train_dataframe con una columna adicional que representa la probabilidad de que el income sea >50K. 
    '''
    pass
```    
Ejemplo de uso:

```
tree = train(train_dataframe)
predictions_df = predict(tree, train_dataframe)
```

In [7]:
#

<i>[Extra credit y alumnos masters]</i>
    
5.  Mejorar la implementación de su algoritmo evitando hacer el split cuando no se logra un mínimo de Information Gain ( https://en.wikipedia.org/wiki/Information_gain_in_decision_trees   )

In [8]:
#